Arturo Abisai Marquez Luna  30 de octubre del 2022

En
la universidad "ACME" se desea calcular el promedio de cada
uno de los alumnos, y el área de control escolar genero el archivo
calificaciones_v2.csv
para calcular el promedio por alumno, y tener un archivo con formato
similar al archivo calificaciones_promedio_v2.csv.

importar librerias

In [1]:
import pandas as pd
import numpy as np

verificar las verciones de las mismas

In [2]:
pd.__version__

'1.5.0'

In [3]:
np.__version__

'1.23.3'

leer el archivo usando pd

In [4]:
calificaciones_v2 = pd.read_csv("calificaciones_v2.csv")

In [5]:
calificaciones_v2

     matricula  11111111
0       nombre  Alumno 1
1        grupo      TI11
2    Materia 1         1
3    Materia 2         8
4    Materia 3         1
..         ...       ...
428  Materia 3        10
429  Materia 4         6
430  Materia 5         8
431  Materia 6        10
432     estado   regular

[433 rows x 2 columns]

los datos repetidos estan en el indice 9,431,106 y 107

eliminar los datos repetidos por indice

In [6]:
indices = [7,431,106,107]
calificaciones_v2 = calificaciones_v2.drop(indices,axis=0)

In [7]:
calificaciones_v2.head(10)

    matricula  11111111
0      nombre  Alumno 1
1       grupo      TI11
2   Materia 1         1
3   Materia 2         8
4   Materia 3         1
5   Materia 4         7
6   Materia 5         2
8      estado   regular
9   matricula  11111112
10     nombre  Alumno 2

formatear index

In [8]:
calificaciones_v2 = calificaciones_v2.reset_index(drop=True)

verificar si se formateo el index

In [9]:
calificaciones_v2.head(9)

   matricula  11111111
0     nombre  Alumno 1
1      grupo      TI11
2  Materia 1         1
3  Materia 2         8
4  Materia 3         1
5  Materia 4         7
6  Materia 5         2
7     estado   regular
8  matricula  11111112

In [10]:
calificaciones_v2.tail(3) ## muestra segun la cantidad colocada el numero de registros finales

     matricula 11111111
426  Materia 4        6
427  Materia 5        8
428     estado  regular

separ en partes los dataframe para no afectar datos

In [11]:
parte_1 = calificaciones_v2.loc[:231,:]
parte_2 = calificaciones_v2.loc[231:,:]

verificar divicion correcta

In [12]:
parte_1.head(10)

   matricula  11111111
0     nombre  Alumno 1
1      grupo      TI11
2  Materia 1         1
3  Materia 2         8
4  Materia 3         1
5  Materia 4         7
6  Materia 5         2
7     estado   regular
8  matricula  11111112
9     nombre  Alumno 2

In [13]:
parte_2.tail(3)

     matricula 11111111
426  Materia 4        6
427  Materia 5        8
428     estado  regular

agregar materia faltante sin afectar los Id

In [14]:
parte_1.loc[231] = ["Materia 5",0]

C:\Users\lenovo\AppData\Local\Temp\ipykernel_40648\3524234564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parte_1.loc[231] = ["Materia 5",0]

concatenar los dataframes y formatear id

In [15]:
partes = [parte_1,parte_2]
calificaciones_v2 = pd.concat(partes, sort=False)

In [16]:
calificaciones_v2.tail(4)

     matricula 11111111
425  Materia 3       10
426  Materia 4        6
427  Materia 5        8
428     estado  regular

In [17]:
calificaciones_v2=calificaciones_v2.reset_index(drop=True)

In [18]:
calificaciones_v2

     matricula  11111111
0       nombre  Alumno 1
1        grupo      TI11
2    Materia 1         1
3    Materia 2         8
4    Materia 3         1
..         ...       ...
425  Materia 2         4
426  Materia 3        10
427  Materia 4         6
428  Materia 5         8
429     estado   regular

[430 rows x 2 columns]

agregar el estado faltante

In [19]:
parte_1 = calificaciones_v2.iloc[:322,:]
parte_2 = calificaciones_v2.iloc[322:,:]

In [20]:
parte_1

     matricula  11111111
0       nombre  Alumno 1
1        grupo      TI11
2    Materia 1         1
3    Materia 2         8
4    Materia 3         1
..         ...       ...
317  Materia 1         7
318  Materia 2         1
319  Materia 3         4
320  Materia 4         0
321  Materia 5         6

[322 rows x 2 columns]

In [21]:
parte_1.loc[322] = ["estado","regular"]

C:\Users\lenovo\AppData\Local\Temp\ipykernel_40648\4035026938.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parte_1.loc[322] = ["estado","regular"]

In [22]:
partes = [parte_1,parte_2]
calificaciones_v2 = pd.concat(partes,sort=False)

In [23]:
calificaciones_v2 = calificaciones_v2.reset_index(drop=True)

In [24]:
calificaciones_v2

     matricula  11111111
0       nombre  Alumno 1
1        grupo      TI11
2    Materia 1         1
3    Materia 2         8
4    Materia 3         1
..         ...       ...
426  Materia 2         4
427  Materia 3        10
428  Materia 4         6
429  Materia 5         8
430     estado   regular

[431 rows x 2 columns]

cambiar todos los campos vacios por 0

In [25]:
calificaciones_v2 = calificaciones_v2.fillna(0)

exportar a csv

In [26]:
calificaciones_v2 = calificaciones_v2.to_csv("calificaciones_vs_datos_completos.csv")

abrir con numpy

In [27]:
import csv

In [28]:
with open("calificaciones_vs_datos_completos.csv") as file:
    calificaciones_v2 = list(csv.reader(file,delimiter=","))

In [29]:
calificaciones_v2

[['', 'matricula', '11111111'],
 ['0', 'nombre', 'Alumno 1'],
 ['1', 'grupo', 'TI11'],
 ['2', 'Materia 1', '1'],
 ['3', 'Materia 2', '8'],
 ['4', 'Materia 3', '1'],
 ['5', 'Materia 4', '7'],
 ['6', 'Materia 5', '2'],
 ['7', 'estado', 'regular'],
 ['8', 'matricula', '11111112'],
 ['9', 'nombre', 'Alumno 2'],
 ['10', 'grupo', 'TI11'],
 ['11', 'Materia 1', '10'],
 ['12', 'Materia 2', '7'],
 ['13', 'Materia 3', '1'],
 ['14', 'Materia 4', '8'],
 ['15', 'Materia 5', '5'],
 ['16', 'estado', 'regular'],
 ['17', 'matricula', '11111113'],
 ['18', 'nombre', 'Alumno 3'],
 ['19', 'grupo', 'TI11'],
 ['20', 'Materia 1', '0'],
 ['21', 'Materia 2', '1'],
 ['22', 'Materia 3', '1'],
 ['23', 'Materia 4', '3'],
 ['24', 'Materia 5', '0'],
 ['25', 'estado', 'regular'],
 ['26', 'matricula', '11111114'],
 ['27', 'nombre', 'Alumno 4'],
 ['28', 'grupo', 'TI11'],
 ['29', 'Materia 1', '0'],
 ['30', 'Materia 2', '4'],
 ['31', 'Materia 3', '3'],
 ['32', 'Materia 4', '2'],
 ['33', 'Materia 5', '7'],
 ['34', 'estado', 'regular'],
 ['35', 'matricula', '11111115'],
 ['36', 'nombre', 'Alumno 5'],
 ['37', 'grupo', 'TI11'],
 ['38', 'Materia 1', '9'],
 ['39', 'Materia 2', '10'],
 ['40', 'Materia 3', '3'],
 ['41', 'Materia 4', '9'],
 ['42', 'Materia 5', '2'],
 ['43', 'estado', 'regular'],
 ['44', 'matricula', '11111116'],
 ['45', 'nombre', 'Alumno 6'],
 ['46', 'grupo', 'TI11'],
 ['47', 'Materia 1', '1'],
 ['48', 'Materia 2', '3'],
 ['49', 'Materia 3', '8'],
 ['50', 'Materia 4', '1'],
 ['51', 'Materia 5', '7'],
 ['52', 'estado', 'regular'],
 ['53', 'matricula', '11111117'],
 ['54', 'nombre', 'Alumno 7'],
 ['55', 'grupo', 'TI11'],
 ['56', 'Materia 1', '4'],
 ['57', 'Materia 2', '7'],
 ['58', 'Materia 3', '1'],
 ['59', 'Materia 4', '6'],
 ['60', 'Materia 5', '5'],
 ['61', 'estado', 'regular'],
 ['62', 'matricula', '11111118'],
 ['63', 'nombre', 'Alumno 8'],
 ['64', 'grupo', 'TI11'],
 ['65', 'Materia 1', '10'],
 ['66', 'Materia 2', '1'],
 ['67', 'Materia 3', '7'],
 ['68', 'Materia 4', '10'],
 ['69', 'Materia 5', '0'],
 ['70', 'estado', 'regular'],
 ['71', 'matricula', '11111119'],
 ['72', 'nombre', 'Alumno 9'],
 ['73', 'grupo', 'TI11'],
 ['74', 'Materia 1', '5'],
 ['75', 'Materia 2', '5'],
 ['76', 'Materia 3', '4'],
 ['77', 'Materia 4', '0'],
 ['78', 'Materia 5', '3'],
 ['79', 'estado', 'regular'],
 ['80', 'matricula', '11111120'],
 ['81', 'nombre', 'Alumno 10'],
 ['82', 'grupo', 'TI11'],
 ['83', 'Materia 1', '5'],
 ['84', 'Materia 2', '7'],
 ['85', 'Materia 3', '3'],
 ['86', 'Materia 4', '3'],
 ['87', 'Materia 5', '4'],
 ['88', 'estado', 'regular'],
 ['89', 'matricula', '11111121'],
 ['90', 'nombre', 'Alumno 11'],
 ['91', 'grupo', 'TI11'],
 ['92', 'Materia 1', '6'],
 ['93', 'Materia 2', '1'],
 ['94', 'Materia 3', '3'],
 ['95', 'Materia 4', '7'],
 ['96', 'Materia 5', '0'],
 ['97', 'estado', 'regular'],
 ['98', 'matricula', '11111122'],
 ['99', 'nombre', 'Alumno 12'],
 ['100', 'grupo', 'TI11'],
 ['101', 'Materia 1', '7'],
 ['102', 'Materia 2', '2'],
 ['103', 'Materia 3', '5'],
 ['104', 'Materia 4', '4'],
 ['105', 'Materia 5', '5'],
 ['106', 'estado', 'regular'],
 ['107', 'matricula', '11111123'],
 ['108', 'nombre', 'Alumno 13'],
 ['109', 'grupo', 'TI12'],
 ['110', 'Materia 1', '5'],
 ['111', 'Materia 2', '2'],
 ['112', 'Materia 3', '3'],
 ['113', 'Materia 4', '0'],
 ['114', 'Materia 5', '1'],
 ['115', 'estado', 'regular'],
 ['116', 'matricula', '11111124'],
 ['117', 'nombre', 'Alumno 14'],
 ['118', 'grupo', 'TI12'],
 ['119', 'Materia 1', '5'],
 ['120', 'Materia 2', '2'],
 ['121', 'Materia 3', '10'],
 ['122', 'Materia 4', '0'],
 ['123', 'Materia 5', '6'],
 ['124', 'estado', 'regular'],
 ['125', 'matricula', '11111125'],
 ['126', 'nombre', 'Alumno 15'],
 ['127', 'grupo', 'TI12'],
 ['128', 'Materia 1', '9'],
 ['129', 'Materia 2', '9'],
 ['130', 'Materia 3', '1'],
 ['131', 'Materia 4', '3'],
 ['132', 'Materia 5', '1'],
 ['133', 'estado', 'regular'],
 ['134', 'matricula', '11111126'],
 ['135', 'nombre', 'Alumno 16'],
 ['136', 'grupo', 'TI12'],
 ['137', 'Materia 1', '1'],
 ['138', 'Materia 2', '2'],
 ['139', 'Materia 3', '1'],
 ['140', 'Materia 4', '7'],
 ['141', 'Materia 5', '7'],
 ['142', 'estado', 'regular'],
 ['143', 'matricula', '11111127'],
 ['144', 'nombre', 'Alumno 17'],
 ['145', 'grupo', 'TI12'],
 ['146', 'Materia 1', '0'],
 ['147', 'Materia 2', '2'],
 ['148', 'Materia 3', '1'],
 ['149', 'Materia 4', '0'],
 ['150', 'Materia 5', '2'],
 ['151', 'estado', 'regular'],
 ['152', 'matricula', '11111128'],
 ['153', 'nombre', 'Alumno 18'],
 ['154', 'grupo', 'TI12'],
 ['155', 'Materia 1', '0'],
 ['156', 'Materia 2', '1'],
 ['157', 'Materia 3', '4'],
 ['158', 'Materia 4', '7'],
 ['159', 'Materia 5', '6'],
 ['160', 'estado', 'regular'],
 ['161', 'matricula', '11111129'],
 ['162', 'nombre', 'Alumno 19'],
 ['163', 'grupo', 'TI12'],
 ['164', 'Materia 1', '0'],
 ['165', 'Materia 2', '8'],
 ['166', 'Materia 3', '7'],
 ['167', 'Materia 4', '8'],
 ['168', 'Materia 5', '2'],
 ['169', 'estado', 'regular'],
 ['170', 'matricula', '11111130'],
 ['171', 'nombre', 'Alumno 20'],
 ['172', 'grupo', 'TI12'],
 ['173', 'Materia 1', '4'],
 ['174', 'Materia 2', '0'],
 ['175', 'Materia 3', '5'],
 ['176', 'Materia 4', '0'],
 ['177', 'Materia 5', '4'],
 ['178', 'estado', 'regular'],
 ['179', 'matricula', '11111131'],
 ['180', 'nombre', 'Alumno 21'],
 ['181', 'grupo', 'TI12'],
 ['182', 'Materia 1', '6'],
 ['183', 'Materia 2', '4'],
 ['184', 'Materia 3', '2'],
 ['185', 'Materia 4', '10'],
 ['186', 'Materia 5', '10'],
 ['187', 'estado', 'regular'],
 ['188', 'matricula', '11111132'],
 ['189', 'nombre', 'Alumno 22'],
 ['190', 'grupo', 'TI12'],
 ['191', 'Materia 1', '5'],
 ['192', 'Materia 2', '6'],
 ['193', 'Materia 3', '9'],
 ['194', 'Materia 4', '0'],
 ['195', 'Materia 5', '3'],
 ['196', 'estado', 'regular'],
 ['197', 'matricula', '11111133'],
 ['198', 'nombre', 'Alumno 23'],
 ['199', 'grupo', 'TI12'],
 ['200', 'Materia 1', '1'],
 ['201', 'Materia 2', '9'],
 ['202', 'Materia 3', '7'],
 ['203', 'Materia 4', '7'],
 ['204', 'Materia 5', '6'],
 ['205', 'estado', 'regular'],
 ['206', 'matricula', '11111134'],
 ['207', 'nombre', 'Alumno 24'],
 ['208', 'grupo', 'TI41'],
 ['209', 'Materia 1', '4'],
 ['210', 'Materia 2', '0'],
 ['211', 'Materia 3', '10'],
 ['212', 'Materia 4', '7'],
 ['213', 'Materia 5', '0'],
 ['214', 'estado', 'regular'],
 ['215', 'matricula', '11111135'],
 ['216', 'nombre', 'Alumno 25'],
 ['217', 'grupo', 'TI41'],
 ['218', 'Materia 1', '3'],
 ['219', 'Materia 2', '3'],
 ['220', 'Materia 3', '0'],
 ['221', 'Materia 4', '8'],
 ['222', 'Materia 5', '5'],
 ['223', 'estado', 'regular'],
 ['224', 'matricula', '11111136'],
 ['225', 'nombre', 'Alumno 26'],
 ['226', 'grupo', 'TI41'],
 ['227', 'Materia 1', '0'],
 ['228', 'Materia 2', '5'],
 ['229', 'Materia 3', '7'],
 ['230', 'Materia 4', '2'],
 ['231', 'Materia 5', '0'],
 ['232', 'Materia 5', '0'],
 ['233', 'matricula', '11111137'],
 ['234', 'nombre', 'Alumno 27'],
 ['235', 'grupo', 'TI41'],
 ['236', 'Materia 1', '0'],
 ['237', 'Materia 2', '0'],
 ['238', 'Materia 3', '6'],
 ['239', 'Materia 4', '0'],
 ['240', 'Materia 5', '5'],
 ['241', 'estado', 'regular'],
 ['242', 'matricula', '11111138'],
 ['243', 'nombre', 'Alumno 28'],
 ['244', 'grupo', 'TI41'],
 ['245', 'Materia 1', '9'],
 ['246', 'Materia 2', '3'],
 ['247', 'Materia 3', '10'],
 ['248', 'Materia 4', '9'],
 ['249', 'Materia 5', '6'],
 ['250', 'estado', 'regular'],
 ['251', 'matricula', '11111139'],
 ['252', 'nombre', 'Alumno 29'],
 ['253', 'grupo', 'TI41'],
 ['254', 'Materia 1', '0'],
 ['255', 'Materia 2', '5'],
 ['256', 'Materia 3', '1'],
 ['257', 'Materia 4', '10'],
 ['258', 'Materia 5', '1'],
 ['259', 'estado', 'regular'],
 ['260', 'matricula', '11111140'],
 ['261', 'nombre', 'Alumno 30'],
 ['262', 'grupo', 'TI41'],
 ['263', 'Materia 1', '3'],
 ['264', 'Materia 2', '3'],
 ['265', 'Materia 3', '5'],
 ['266', 'Materia 4', '9'],
 ['267', 'Materia 5', '9'],
 ['268', 'estado', 'regular'],
 ['269', 'matricula', '11111141'],
 ['270', 'nombre', 'Alumno 31'],
 ['271', 'grupo', 'TI41'],
 ['272', 'Materia 1', '10'],
 ['273', 'Materia 2', '10'],
 ['274', 'Materia 3', '4'],
 ['275', 'Materia 4', '1'],
 ['276', 'Materia 5', '4'],
 ['277', 'estado', 'regular'],
 ['278', 'matricula', '11111142'],
 ['279', 'nombre', 'Alumno 32'],
 ['280', 'grupo', 'TI41'],
 ['281', 'Materia 1', '6'],
 ['282', 'Materia 2', '0'],
 ['283', 'Materia 3', '5'],
 ['284', 'Materia 4', '3'],
 ['285', 'Materia 5', '2'],
 ['286', 'estado', 'regular'],
 ['287', 'matricula', '11111143'],
 ['288', 'nombre', 'Alumno 33'],
 ['289', 'grupo', 'IDGS91'],
 ['290', 'Materia 1', '0'],
 ['291', 'Materia 2', '4'],
 ['292', 'Materia 3', '1'],
 ['293', 'Materia 4', '7'],
 ['294', 'Materia 5', '9'],
 ['295', 'estado', 'regular'],
 ['296', 'matricula', '11111144'],
 ['297', 'nombre', 'Alumno 34'],
 ['298', 'grupo', 'IDGS91'],
 ['299', 'Materia 1', '1'],
 ['300', 'Materia 2', '1'],
 ['301', 'Materia 3', '2'],
 ['302', 'Materia 4', '3'],
 ['303', 'Materia 5', '8'],
 ['304', 'estado', 'regular'],
 ['305', 'matricula', '11111145'],
 ['306', 'nombre', 'Alumno 35'],
 ['307', 'grupo', 'IDGS91'],
 ['308', 'Materia 1', '0'],
 ['309', 'Materia 2', '7'],
 ['310', 'Materia 3', '10'],
 ['311', 'Materia 4', '7'],
 ['312', 'Materia 5', '7'],
 ['313', 'estado', 'regular'],
 ['314', 'matricula', '11111146'],
 ['315', 'nombre', 'Alumno 36'],
 ['316', 'grupo', 'IDGS91'],
 ['317', 'Materia 1', '7'],
 ['318', 'Materia 2', '1'],
 ['319', 'Materia 3', '4'],
 ['320', 'Materia 4', '0'],
 ['321', 'Materia 5', '6'],
 ['322', 'estado', 'regular'],
 ['323', 'matricula', '11111147'],
 ['324', 'nombre', 'Alumno 37'],
 ['325', 'grupo', 'IDGS91'],
 ['326', 'Materia 1', '6'],
 ['327', 'Materia 2', '6'],
 ['328', 'Materia 3', '4'],
 ['329', 'Materia 4', '3'],
 ['330', 'Materia 5', '0'],
 ['331', 'estado', 'regular'],
 ['332', 'matricula', '11111148'],
 ['333', 'nombre', 'Alumno 38'],
 ['334', 'grupo', 'IDGS91'],
 ['335', 'Materia 1', '0'],
 ['336', 'Materia 2', '6'],
 ['337', 'Materia 3', '6'],
 ['338', 'Materia 4', '3'],
 ['339', 'Materia 5', '5'],
 ['340', 'estado', 'regular'],
 ['341', 'matricula', '11111149'],
 ['342', 'nombre', 'Alumno 39'],
 ['343', 'grupo', 'IDGS91'],
 ['344', 'Materia 1', '8'],
 ['345', 'Materia 2', '7'],
 ['346', 'Materia 3', '9'],
 ['347', 'Materia 4', '5'],
 ['348', 'Materia 5', '2'],
 ['349', 'estado', 'regular'],
 ['350', 'matricula', '11111150'],
 ['351', 'nombre', 'Alumno 40'],
 ['352', 'grupo', 'IDGS91'],
 ['353', 'Materia 1', '1'],
 ['354', 'Materia 2', '0'],
 ['355', 'Materia 3', '3'],
 ['356', 'Materia 4', '4'],
 ['357', 'Materia 5', '10'],
 ['358', 'estado', 'regular'],
 ['359', 'matricula', '11111151'],
 ['360', 'nombre', 'Alumno 41'],
 ['361', 'grupo', 'IDGS91'],
 ['362', 'Materia 1', '6'],
 ['363', 'Materia 2', '5'],
 ['364', 'Materia 3', '1'],
 ['365', 'Materia 4', '5'],
 ['366', 'Materia 5', '9'],
 ['367', 'estado', 'regular'],
 ['368', 'matricula', '11111152'],
 ['369', 'nombre', 'Alumno 42'],
 ['370', 'grupo', 'IDGS91'],
 ['371', 'Materia 1', '2'],
 ['372', 'Materia 2', '0'],
 ['373', 'Materia 3', '9'],
 ['374', 'Materia 4', '9'],
 ['375', 'Materia 5', '5'],
 ['376', 'estado', 'regular'],
 ['377', 'matricula', '11111153'],
 ['378', 'nombre', 'Alumno 43'],
 ['379', 'grupo', 'IDGS91'],
 ['380', 'Materia 1', '3'],
 ['381', 'Materia 2', '4'],
 ['382', 'Materia 3', '0'],
 ['383', 'Materia 4', '0'],
 ['384', 'Materia 5', '0'],
 ['385', 'estado', 'regular'],
 ['386', 'matricula', '11111154'],
 ['387', 'nombre', 'Alumno 44'],
 ['388', 'grupo', 'IDGS91'],
 ['389', 'Materia 1', '3'],
 ['390', 'Materia 2', '1'],
 ['391', 'Materia 3', '1'],
 ['392', 'Materia 4', '7'],
 ['393', 'Materia 5', '10'],
 ['394', 'estado', 'regular'],
 ['395', 'matricula', '11111155'],
 ['396', 'nombre', 'Alumno 45'],
 ['397', 'grupo', 'IDGS91'],
 ['398', 'Materia 1', '4'],
 ['399', 'Materia 2', '1'],
 ['400', 'Materia 3', '2'],
 ['401', 'Materia 4', '8'],
 ['402', 'Materia 5', '6'],
 ['403', 'estado', 'regular'],
 ['404', 'matricula', '11111156'],
 ['405', 'nombre', 'Alumno 46'],
 ['406', 'grupo', 'IDGS71'],
 ['407', 'Materia 1', '10'],
 ['408', 'Materia 2', '1'],
 ['409', 'Materia 3', '10'],
 ['410', 'Materia 4', '0'],
 ['411', 'Materia 5', '7'],
 ['412', 'estado', 'regular'],
 ['413', 'matricula', '11111157'],
 ['414', 'nombre', 'Alumno 47'],
 ['415', 'grupo', 'IDGS71'],
 ['416', 'Materia 1', '9'],
 ['417', 'Materia 2', '10'],
 ['418', 'Materia 3', '1'],
 ['419', 'Materia 4', '3'],
 ['420', 'Materia 5', '9'],
 ['421', 'estado', 'regular'],
 ['422', 'matricula', '11111158'],
 ['423', 'nombre', 'Alumno 48'],
 ['424', 'grupo', 'IDGS71'],
 ['425', 'Materia 1', '4'],
 ['426', 'Materia 2', '4'],
 ['427', 'Materia 3', '10'],
 ['428', 'Materia 4', '6'],
 ['429', 'Materia 5', '8'],
 ['430', 'estado', 'regular']]

pasar a un array de numpy

In [30]:
calificaciones_v2 = np.array(calificaciones_v2)

In [31]:
calificaciones_v2

array([['', 'matricula', '11111111'],
       ['0', 'nombre', 'Alumno 1'],
       ['1', 'grupo', 'TI11'],
       ...,
       ['428', 'Materia 4', '6'],
       ['429', 'Materia 5', '8'],
       ['430', 'estado', 'regular']], dtype='<U9')

eliminar index

In [32]:
calificaciones_v2 = np.delete(calificaciones_v2,0,1)

In [33]:
calificaciones_v2

array([['matricula', '11111111'],
       ['nombre', 'Alumno 1'],
       ['grupo', 'TI11'],
       ['Materia 1', '1'],
       ['Materia 2', '8'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111112'],
       ['nombre', 'Alumno 2'],
       ['grupo', 'TI11'],
       ['Materia 1', '10'],
       ['Materia 2', '7'],
       ['Materia 3', '1'],
       ['Materia 4', '8'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111113'],
       ['nombre', 'Alumno 3'],
       ['grupo', 'TI11'],
       ['Materia 1', '0'],
       ['Materia 2', '1'],
       ['Materia 3', '1'],
       ['Materia 4', '3'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111114'],
       ['nombre', 'Alumno 4'],
       ['grupo', 'TI11'],
       ['Materia 1', '0'],
       ['Materia 2', '4'],
       ['Materia 3', '3'],
       ['Materia 4', '2'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111115'],
       ['nombre', 'Alumno 5'],
       ['grupo', 'TI11'],
       ['Materia 1', '9'],
       ['Materia 2', '10'],
       ['Materia 3', '3'],
       ['Materia 4', '9'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111116'],
       ['nombre', 'Alumno 6'],
       ['grupo', 'TI11'],
       ['Materia 1', '1'],
       ['Materia 2', '3'],
       ['Materia 3', '8'],
       ['Materia 4', '1'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111117'],
       ['nombre', 'Alumno 7'],
       ['grupo', 'TI11'],
       ['Materia 1', '4'],
       ['Materia 2', '7'],
       ['Materia 3', '1'],
       ['Materia 4', '6'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111118'],
       ['nombre', 'Alumno 8'],
       ['grupo', 'TI11'],
       ['Materia 1', '10'],
       ['Materia 2', '1'],
       ['Materia 3', '7'],
       ['Materia 4', '10'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111119'],
       ['nombre', 'Alumno 9'],
       ['grupo', 'TI11'],
       ['Materia 1', '5'],
       ['Materia 2', '5'],
       ['Materia 3', '4'],
       ['Materia 4', '0'],
       ['Materia 5', '3'],
       ['estado', 'regular'],
       ['matricula', '11111120'],
       ['nombre', 'Alumno 10'],
       ['grupo', 'TI11'],
       ['Materia 1', '5'],
       ['Materia 2', '7'],
       ['Materia 3', '3'],
       ['Materia 4', '3'],
       ['Materia 5', '4'],
       ['estado', 'regular'],
       ['matricula', '11111121'],
       ['nombre', 'Alumno 11'],
       ['grupo', 'TI11'],
       ['Materia 1', '6'],
       ['Materia 2', '1'],
       ['Materia 3', '3'],
       ['Materia 4', '7'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111122'],
       ['nombre', 'Alumno 12'],
       ['grupo', 'TI11'],
       ['Materia 1', '7'],
       ['Materia 2', '2'],
       ['Materia 3', '5'],
       ['Materia 4', '4'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111123'],
       ['nombre', 'Alumno 13'],
       ['grupo', 'TI12'],
       ['Materia 1', '5'],
       ['Materia 2', '2'],
       ['Materia 3', '3'],
       ['Materia 4', '0'],
       ['Materia 5', '1'],
       ['estado', 'regular'],
       ['matricula', '11111124'],
       ['nombre', 'Alumno 14'],
       ['grupo', 'TI12'],
       ['Materia 1', '5'],
       ['Materia 2', '2'],
       ['Materia 3', '10'],
       ['Materia 4', '0'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111125'],
       ['nombre', 'Alumno 15'],
       ['grupo', 'TI12'],
       ['Materia 1', '9'],
       ['Materia 2', '9'],
       ['Materia 3', '1'],
       ['Materia 4', '3'],
       ['Materia 5', '1'],
       ['estado', 'regular'],
       ['matricula', '11111126'],
       ['nombre', 'Alumno 16'],
       ['grupo', 'TI12'],
       ['Materia 1', '1'],
       ['Materia 2', '2'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111127'],
       ['nombre', 'Alumno 17'],
       ['grupo', 'TI12'],
       ['Materia 1', '0'],
       ['Materia 2', '2'],
       ['Materia 3', '1'],
       ['Materia 4', '0'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111128'],
       ['nombre', 'Alumno 18'],
       ['grupo', 'TI12'],
       ['Materia 1', '0'],
       ['Materia 2', '1'],
       ['Materia 3', '4'],
       ['Materia 4', '7'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111129'],
       ['nombre', 'Alumno 19'],
       ['grupo', 'TI12'],
       ['Materia 1', '0'],
       ['Materia 2', '8'],
       ['Materia 3', '7'],
       ['Materia 4', '8'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111130'],
       ['nombre', 'Alumno 20'],
       ['grupo', 'TI12'],
       ['Materia 1', '4'],
       ['Materia 2', '0'],
       ['Materia 3', '5'],
       ['Materia 4', '0'],
       ['Materia 5', '4'],
       ['estado', 'regular'],
       ['matricula', '11111131'],
       ['nombre', 'Alumno 21'],
       ['grupo', 'TI12'],
       ['Materia 1', '6'],
       ['Materia 2', '4'],
       ['Materia 3', '2'],
       ['Materia 4', '10'],
       ['Materia 5', '10'],
       ['estado', 'regular'],
       ['matricula', '11111132'],
       ['nombre', 'Alumno 22'],
       ['grupo', 'TI12'],
       ['Materia 1', '5'],
       ['Materia 2', '6'],
       ['Materia 3', '9'],
       ['Materia 4', '0'],
       ['Materia 5', '3'],
       ['estado', 'regular'],
       ['matricula', '11111133'],
       ['nombre', 'Alumno 23'],
       ['grupo', 'TI12'],
       ['Materia 1', '1'],
       ['Materia 2', '9'],
       ['Materia 3', '7'],
       ['Materia 4', '7'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111134'],
       ['nombre', 'Alumno 24'],
       ['grupo', 'TI41'],
       ['Materia 1', '4'],
       ['Materia 2', '0'],
       ['Materia 3', '10'],
       ['Materia 4', '7'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111135'],
       ['nombre', 'Alumno 25'],
       ['grupo', 'TI41'],
       ['Materia 1', '3'],
       ['Materia 2', '3'],
       ['Materia 3', '0'],
       ['Materia 4', '8'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111136'],
       ['nombre', 'Alumno 26'],
       ['grupo', 'TI41'],
       ['Materia 1', '0'],
       ['Materia 2', '5'],
       ['Materia 3', '7'],
       ['Materia 4', '2'],
       ['Materia 5', '0'],
       ['Materia 5', '0'],
       ['matricula', '11111137'],
       ['nombre', 'Alumno 27'],
       ['grupo', 'TI41'],
       ['Materia 1', '0'],
       ['Materia 2', '0'],
       ['Materia 3', '6'],
       ['Materia 4', '0'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111138'],
       ['nombre', 'Alumno 28'],
       ['grupo', 'TI41'],
       ['Materia 1', '9'],
       ['Materia 2', '3'],
       ['Materia 3', '10'],
       ['Materia 4', '9'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111139'],
       ['nombre', 'Alumno 29'],
       ['grupo', 'TI41'],
       ['Materia 1', '0'],
       ['Materia 2', '5'],
       ['Materia 3', '1'],
       ['Materia 4', '10'],
       ['Materia 5', '1'],
       ['estado', 'regular'],
       ['matricula', '11111140'],
       ['nombre', 'Alumno 30'],
       ['grupo', 'TI41'],
       ['Materia 1', '3'],
       ['Materia 2', '3'],
       ['Materia 3', '5'],
       ['Materia 4', '9'],
       ['Materia 5', '9'],
       ['estado', 'regular'],
       ['matricula', '11111141'],
       ['nombre', 'Alumno 31'],
       ['grupo', 'TI41'],
       ['Materia 1', '10'],
       ['Materia 2', '10'],
       ['Materia 3', '4'],
       ['Materia 4', '1'],
       ['Materia 5', '4'],
       ['estado', 'regular'],
       ['matricula', '11111142'],
       ['nombre', 'Alumno 32'],
       ['grupo', 'TI41'],
       ['Materia 1', '6'],
       ['Materia 2', '0'],
       ['Materia 3', '5'],
       ['Materia 4', '3'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111143'],
       ['nombre', 'Alumno 33'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '0'],
       ['Materia 2', '4'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '9'],
       ['estado', 'regular'],
       ['matricula', '11111144'],
       ['nombre', 'Alumno 34'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '1'],
       ['Materia 2', '1'],
       ['Materia 3', '2'],
       ['Materia 4', '3'],
       ['Materia 5', '8'],
       ['estado', 'regular'],
       ['matricula', '11111145'],
       ['nombre', 'Alumno 35'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '0'],
       ['Materia 2', '7'],
       ['Materia 3', '10'],
       ['Materia 4', '7'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111146'],
       ['nombre', 'Alumno 36'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '7'],
       ['Materia 2', '1'],
       ['Materia 3', '4'],
       ['Materia 4', '0'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111147'],
       ['nombre', 'Alumno 37'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '6'],
       ['Materia 2', '6'],
       ['Materia 3', '4'],
       ['Materia 4', '3'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111148'],
       ['nombre', 'Alumno 38'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '0'],
       ['Materia 2', '6'],
       ['Materia 3', '6'],
       ['Materia 4', '3'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111149'],
       ['nombre', 'Alumno 39'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '8'],
       ['Materia 2', '7'],
       ['Materia 3', '9'],
       ['Materia 4', '5'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111150'],
       ['nombre', 'Alumno 40'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '1'],
       ['Materia 2', '0'],
       ['Materia 3', '3'],
       ['Materia 4', '4'],
       ['Materia 5', '10'],
       ['estado', 'regular'],
       ['matricula', '11111151'],
       ['nombre', 'Alumno 41'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '6'],
       ['Materia 2', '5'],
       ['Materia 3', '1'],
       ['Materia 4', '5'],
       ['Materia 5', '9'],
       ['estado', 'regular'],
       ['matricula', '11111152'],
       ['nombre', 'Alumno 42'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '2'],
       ['Materia 2', '0'],
       ['Materia 3', '9'],
       ['Materia 4', '9'],
       ['Materia 5', '5'],
       ['estado', 'regular'],
       ['matricula', '11111153'],
       ['nombre', 'Alumno 43'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '3'],
       ['Materia 2', '4'],
       ['Materia 3', '0'],
       ['Materia 4', '0'],
       ['Materia 5', '0'],
       ['estado', 'regular'],
       ['matricula', '11111154'],
       ['nombre', 'Alumno 44'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '3'],
       ['Materia 2', '1'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '10'],
       ['estado', 'regular'],
       ['matricula', '11111155'],
       ['nombre', 'Alumno 45'],
       ['grupo', 'IDGS91'],
       ['Materia 1', '4'],
       ['Materia 2', '1'],
       ['Materia 3', '2'],
       ['Materia 4', '8'],
       ['Materia 5', '6'],
       ['estado', 'regular'],
       ['matricula', '11111156'],
       ['nombre', 'Alumno 46'],
       ['grupo', 'IDGS71'],
       ['Materia 1', '10'],
       ['Materia 2', '1'],
       ['Materia 3', '10'],
       ['Materia 4', '0'],
       ['Materia 5', '7'],
       ['estado', 'regular'],
       ['matricula', '11111157'],
       ['nombre', 'Alumno 47'],
       ['grupo', 'IDGS71'],
       ['Materia 1', '9'],
       ['Materia 2', '10'],
       ['Materia 3', '1'],
       ['Materia 4', '3'],
       ['Materia 5', '9'],
       ['estado', 'regular'],
       ['matricula', '11111158'],
       ['nombre', 'Alumno 48'],
       ['grupo', 'IDGS71'],
       ['Materia 1', '4'],
       ['Materia 2', '4'],
       ['Materia 3', '10'],
       ['Materia 4', '6'],
       ['Materia 5', '8'],
       ['estado', 'regular']], dtype='<U9')

obtener las cabeceras

In [34]:
cabecera = calificaciones_v2.T[0]

In [35]:
cabecera

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'Materia 5', 'matricula', 'nombre',
       'grupo', 'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4',
       'Materia 5', 'estado', 'matricula', 'nombre', 'grupo', 'Materia 1',
       'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5', 'estado',
       'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado', 'matricula', 'nombre', 'grupo',
       'Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3',
       'Materia 4', 'Materia 5', 'estado'], dtype='<U9')

In [36]:
np.unique(cabecera)

array(['Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'grupo', 'matricula', 'nombre'], dtype='<U9')

In [37]:
np.unique(cabecera).size

9

In [38]:
cabecera = cabecera[:9]
cabecera

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado'], dtype='<U9')

registros

In [39]:
total_cabecera = cabecera.size

In [40]:
total_registros = calificaciones_v2.T[0].size

In [41]:
total = total_registros/total_cabecera
total

48.0

eliminar columna de cabecera

In [42]:
datos = np.delete(calificaciones_v2,0,1)

In [43]:
datos

array([['11111111'],
       ['Alumno 1'],
       ['TI11'],
       ['1'],
       ['8'],
       ['1'],
       ['7'],
       ['2'],
       ['regular'],
       ['11111112'],
       ['Alumno 2'],
       ['TI11'],
       ['10'],
       ['7'],
       ['1'],
       ['8'],
       ['5'],
       ['regular'],
       ['11111113'],
       ['Alumno 3'],
       ['TI11'],
       ['0'],
       ['1'],
       ['1'],
       ['3'],
       ['0'],
       ['regular'],
       ['11111114'],
       ['Alumno 4'],
       ['TI11'],
       ['0'],
       ['4'],
       ['3'],
       ['2'],
       ['7'],
       ['regular'],
       ['11111115'],
       ['Alumno 5'],
       ['TI11'],
       ['9'],
       ['10'],
       ['3'],
       ['9'],
       ['2'],
       ['regular'],
       ['11111116'],
       ['Alumno 6'],
       ['TI11'],
       ['1'],
       ['3'],
       ['8'],
       ['1'],
       ['7'],
       ['regular'],
       ['11111117'],
       ['Alumno 7'],
       ['TI11'],
       ['4'],
       ['7'],
       ['1'],
       ['6'],
       ['5'],
       ['regular'],
       ['11111118'],
       ['Alumno 8'],
       ['TI11'],
       ['10'],
       ['1'],
       ['7'],
       ['10'],
       ['0'],
       ['regular'],
       ['11111119'],
       ['Alumno 9'],
       ['TI11'],
       ['5'],
       ['5'],
       ['4'],
       ['0'],
       ['3'],
       ['regular'],
       ['11111120'],
       ['Alumno 10'],
       ['TI11'],
       ['5'],
       ['7'],
       ['3'],
       ['3'],
       ['4'],
       ['regular'],
       ['11111121'],
       ['Alumno 11'],
       ['TI11'],
       ['6'],
       ['1'],
       ['3'],
       ['7'],
       ['0'],
       ['regular'],
       ['11111122'],
       ['Alumno 12'],
       ['TI11'],
       ['7'],
       ['2'],
       ['5'],
       ['4'],
       ['5'],
       ['regular'],
       ['11111123'],
       ['Alumno 13'],
       ['TI12'],
       ['5'],
       ['2'],
       ['3'],
       ['0'],
       ['1'],
       ['regular'],
       ['11111124'],
       ['Alumno 14'],
       ['TI12'],
       ['5'],
       ['2'],
       ['10'],
       ['0'],
       ['6'],
       ['regular'],
       ['11111125'],
       ['Alumno 15'],
       ['TI12'],
       ['9'],
       ['9'],
       ['1'],
       ['3'],
       ['1'],
       ['regular'],
       ['11111126'],
       ['Alumno 16'],
       ['TI12'],
       ['1'],
       ['2'],
       ['1'],
       ['7'],
       ['7'],
       ['regular'],
       ['11111127'],
       ['Alumno 17'],
       ['TI12'],
       ['0'],
       ['2'],
       ['1'],
       ['0'],
       ['2'],
       ['regular'],
       ['11111128'],
       ['Alumno 18'],
       ['TI12'],
       ['0'],
       ['1'],
       ['4'],
       ['7'],
       ['6'],
       ['regular'],
       ['11111129'],
       ['Alumno 19'],
       ['TI12'],
       ['0'],
       ['8'],
       ['7'],
       ['8'],
       ['2'],
       ['regular'],
       ['11111130'],
       ['Alumno 20'],
       ['TI12'],
       ['4'],
       ['0'],
       ['5'],
       ['0'],
       ['4'],
       ['regular'],
       ['11111131'],
       ['Alumno 21'],
       ['TI12'],
       ['6'],
       ['4'],
       ['2'],
       ['10'],
       ['10'],
       ['regular'],
       ['11111132'],
       ['Alumno 22'],
       ['TI12'],
       ['5'],
       ['6'],
       ['9'],
       ['0'],
       ['3'],
       ['regular'],
       ['11111133'],
       ['Alumno 23'],
       ['TI12'],
       ['1'],
       ['9'],
       ['7'],
       ['7'],
       ['6'],
       ['regular'],
       ['11111134'],
       ['Alumno 24'],
       ['TI41'],
       ['4'],
       ['0'],
       ['10'],
       ['7'],
       ['0'],
       ['regular'],
       ['11111135'],
       ['Alumno 25'],
       ['TI41'],
       ['3'],
       ['3'],
       ['0'],
       ['8'],
       ['5'],
       ['regular'],
       ['11111136'],
       ['Alumno 26'],
       ['TI41'],
       ['0'],
       ['5'],
       ['7'],
       ['2'],
       ['0'],
       ['0'],
       ['11111137'],
       ['Alumno 27'],
       ['TI41'],
       ['0'],
       ['0'],
       ['6'],
       ['0'],
       ['5'],
       ['regular'],
       ['11111138'],
       ['Alumno 28'],
       ['TI41'],
       ['9'],
       ['3'],
       ['10'],
       ['9'],
       ['6'],
       ['regular'],
       ['11111139'],
       ['Alumno 29'],
       ['TI41'],
       ['0'],
       ['5'],
       ['1'],
       ['10'],
       ['1'],
       ['regular'],
       ['11111140'],
       ['Alumno 30'],
       ['TI41'],
       ['3'],
       ['3'],
       ['5'],
       ['9'],
       ['9'],
       ['regular'],
       ['11111141'],
       ['Alumno 31'],
       ['TI41'],
       ['10'],
       ['10'],
       ['4'],
       ['1'],
       ['4'],
       ['regular'],
       ['11111142'],
       ['Alumno 32'],
       ['TI41'],
       ['6'],
       ['0'],
       ['5'],
       ['3'],
       ['2'],
       ['regular'],
       ['11111143'],
       ['Alumno 33'],
       ['IDGS91'],
       ['0'],
       ['4'],
       ['1'],
       ['7'],
       ['9'],
       ['regular'],
       ['11111144'],
       ['Alumno 34'],
       ['IDGS91'],
       ['1'],
       ['1'],
       ['2'],
       ['3'],
       ['8'],
       ['regular'],
       ['11111145'],
       ['Alumno 35'],
       ['IDGS91'],
       ['0'],
       ['7'],
       ['10'],
       ['7'],
       ['7'],
       ['regular'],
       ['11111146'],
       ['Alumno 36'],
       ['IDGS91'],
       ['7'],
       ['1'],
       ['4'],
       ['0'],
       ['6'],
       ['regular'],
       ['11111147'],
       ['Alumno 37'],
       ['IDGS91'],
       ['6'],
       ['6'],
       ['4'],
       ['3'],
       ['0'],
       ['regular'],
       ['11111148'],
       ['Alumno 38'],
       ['IDGS91'],
       ['0'],
       ['6'],
       ['6'],
       ['3'],
       ['5'],
       ['regular'],
       ['11111149'],
       ['Alumno 39'],
       ['IDGS91'],
       ['8'],
       ['7'],
       ['9'],
       ['5'],
       ['2'],
       ['regular'],
       ['11111150'],
       ['Alumno 40'],
       ['IDGS91'],
       ['1'],
       ['0'],
       ['3'],
       ['4'],
       ['10'],
       ['regular'],
       ['11111151'],
       ['Alumno 41'],
       ['IDGS91'],
       ['6'],
       ['5'],
       ['1'],
       ['5'],
       ['9'],
       ['regular'],
       ['11111152'],
       ['Alumno 42'],
       ['IDGS91'],
       ['2'],
       ['0'],
       ['9'],
       ['9'],
       ['5'],
       ['regular'],
       ['11111153'],
       ['Alumno 43'],
       ['IDGS91'],
       ['3'],
       ['4'],
       ['0'],
       ['0'],
       ['0'],
       ['regular'],
       ['11111154'],
       ['Alumno 44'],
       ['IDGS91'],
       ['3'],
       ['1'],
       ['1'],
       ['7'],
       ['10'],
       ['regular'],
       ['11111155'],
       ['Alumno 45'],
       ['IDGS91'],
       ['4'],
       ['1'],
       ['2'],
       ['8'],
       ['6'],
       ['regular'],
       ['11111156'],
       ['Alumno 46'],
       ['IDGS71'],
       ['10'],
       ['1'],
       ['10'],
       ['0'],
       ['7'],
       ['regular'],
       ['11111157'],
       ['Alumno 47'],
       ['IDGS71'],
       ['9'],
       ['10'],
       ['1'],
       ['3'],
       ['9'],
       ['regular'],
       ['11111158'],
       ['Alumno 48'],
       ['IDGS71'],
       ['4'],
       ['4'],
       ['10'],
       ['6'],
       ['8'],
       ['regular']], dtype='<U9')

reshape de los datos

In [44]:
total = int(total)
total_cabecera=int(total_cabecera)

In [45]:
datos = datos.reshape(total,total_cabecera)

In [46]:
datos[:15]

array([['11111111', 'Alumno 1', 'TI11', '1', '8', '1', '7', '2',
        'regular'],
       ['11111112', 'Alumno 2', 'TI11', '10', '7', '1', '8', '5',
        'regular'],
       ['11111113', 'Alumno 3', 'TI11', '0', '1', '1', '3', '0',
        'regular'],
       ['11111114', 'Alumno 4', 'TI11', '0', '4', '3', '2', '7',
        'regular'],
       ['11111115', 'Alumno 5', 'TI11', '9', '10', '3', '9', '2',
        'regular'],
       ['11111116', 'Alumno 6', 'TI11', '1', '3', '8', '1', '7',
        'regular'],
       ['11111117', 'Alumno 7', 'TI11', '4', '7', '1', '6', '5',
        'regular'],
       ['11111118', 'Alumno 8', 'TI11', '10', '1', '7', '10', '0',
        'regular'],
       ['11111119', 'Alumno 9', 'TI11', '5', '5', '4', '0', '3',
        'regular'],
       ['11111120', 'Alumno 10', 'TI11', '5', '7', '3', '3', '4',
        'regular'],
       ['11111121', 'Alumno 11', 'TI11', '6', '1', '3', '7', '0',
        'regular'],
       ['11111122', 'Alumno 12', 'TI11', '7', '2', '5', '4', '5',
        'regular'],
       ['11111123', 'Alumno 13', 'TI12', '5', '2', '3', '0', '1',
        'regular'],
       ['11111124', 'Alumno 14', 'TI12', '5', '2', '10', '0', '6',
        'regular'],
       ['11111125', 'Alumno 15', 'TI12', '9', '9', '1', '3', '1',
        'regular']], dtype='<U9')

datos de los alumnos

In [47]:
info_alumnos = np.array(datos[:,:3])
info_alumnos[:10]

array([['11111111', 'Alumno 1', 'TI11'],
       ['11111112', 'Alumno 2', 'TI11'],
       ['11111113', 'Alumno 3', 'TI11'],
       ['11111114', 'Alumno 4', 'TI11'],
       ['11111115', 'Alumno 5', 'TI11'],
       ['11111116', 'Alumno 6', 'TI11'],
       ['11111117', 'Alumno 7', 'TI11'],
       ['11111118', 'Alumno 8', 'TI11'],
       ['11111119', 'Alumno 9', 'TI11'],
       ['11111120', 'Alumno 10', 'TI11']], dtype='<U9')

calificaciones de las materias

In [48]:
materias = np.array(datos[:,3:8],dtype=float)

In [49]:
materias[:15]

array([[ 1.,  8.,  1.,  7.,  2.],
       [10.,  7.,  1.,  8.,  5.],
       [ 0.,  1.,  1.,  3.,  0.],
       [ 0.,  4.,  3.,  2.,  7.],
       [ 9., 10.,  3.,  9.,  2.],
       [ 1.,  3.,  8.,  1.,  7.],
       [ 4.,  7.,  1.,  6.,  5.],
       [10.,  1.,  7., 10.,  0.],
       [ 5.,  5.,  4.,  0.,  3.],
       [ 5.,  7.,  3.,  3.,  4.],
       [ 6.,  1.,  3.,  7.,  0.],
       [ 7.,  2.,  5.,  4.,  5.],
       [ 5.,  2.,  3.,  0.,  1.],
       [ 5.,  2., 10.,  0.,  6.],
       [ 9.,  9.,  1.,  3.,  1.]])

In [50]:
no_materias = 5
promedios = []
for index in range(int(total)):
    promedios.append(["regular",materias[index].sum()/no_materias])
promedio = np.array(promedios)

In [51]:
promedios

[['regular', 3.8],
 ['regular', 6.2],
 ['regular', 1.0],
 ['regular', 3.2],
 ['regular', 6.6],
 ['regular', 4.0],
 ['regular', 4.6],
 ['regular', 5.6],
 ['regular', 3.4],
 ['regular', 4.4],
 ['regular', 3.4],
 ['regular', 4.6],
 ['regular', 2.2],
 ['regular', 4.6],
 ['regular', 4.6],
 ['regular', 3.6],
 ['regular', 1.0],
 ['regular', 3.6],
 ['regular', 5.0],
 ['regular', 2.6],
 ['regular', 6.4],
 ['regular', 4.6],
 ['regular', 6.0],
 ['regular', 4.2],
 ['regular', 3.8],
 ['regular', 2.8],
 ['regular', 2.2],
 ['regular', 7.4],
 ['regular', 3.4],
 ['regular', 5.8],
 ['regular', 5.8],
 ['regular', 3.2],
 ['regular', 4.2],
 ['regular', 3.0],
 ['regular', 6.2],
 ['regular', 3.6],
 ['regular', 3.8],
 ['regular', 4.0],
 ['regular', 6.2],
 ['regular', 3.6],
 ['regular', 5.2],
 ['regular', 5.0],
 ['regular', 1.4],
 ['regular', 4.4],
 ['regular', 4.2],
 ['regular', 5.6],
 ['regular', 6.4],
 ['regular', 6.4]]

agregar la columna de promedio a las cabeceras

In [52]:
cabecera = np.concatenate((cabecera,['promedio final']),axis=0,dtype=str)

In [53]:
cabecera

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'promedio final'],
      dtype='<U14')

añadir info del alumno con calificaciones, promedio y estado

In [54]:
todos = np.concatenate((info_alumnos,materias,promedios),axis=1,dtype=str)
todos[:5]

array([['11111111', 'Alumno 1', 'TI11', '1.0', '8.0', '1.0', '7.0',
        '2.0', 'regular', '3.8'],
       ['11111112', 'Alumno 2', 'TI11', '10.0', '7.0', '1.0', '8.0',
        '5.0', 'regular', '6.2'],
       ['11111113', 'Alumno 3', 'TI11', '0.0', '1.0', '1.0', '3.0',
        '0.0', 'regular', '1.0'],
       ['11111114', 'Alumno 4', 'TI11', '0.0', '4.0', '3.0', '2.0',
        '7.0', 'regular', '3.2'],
       ['11111115', 'Alumno 5', 'TI11', '9.0', '10.0', '3.0', '9.0',
        '2.0', 'regular', '6.6']], dtype='<U32')

exportar a csv

In [55]:
todos = pd.DataFrame(data=todos,columns=cabecera,dtype=str)

In [56]:
todos.head(8)

,matricula,nombre,grupo,Materia 1,Materia 2,Materia 3,Materia 4,Materia 5,estado,promedio final
0,11111111,Alumno 1,TI11,1.0,8.0,1.0,7.0,2.0,regular,3.8
1,11111112,Alumno 2,TI11,10.0,7.0,1.0,8.0,5.0,regular,6.2
2,11111113,Alumno 3,TI11,0.0,1.0,1.0,3.0,0.0,regular,1.0
3,11111114,Alumno 4,TI11,0.0,4.0,3.0,2.0,7.0,regular,3.2
4,11111115,Alumno 5,TI11,9.0,10.0,3.0,9.0,2.0,regular,6.6
5,11111116,Alumno 6,TI11,1.0,3.0,8.0,1.0,7.0,regular,4.0
6,11111117,Alumno 7,TI11,4.0,7.0,1.0,6.0,5.0,regular,4.6
7,11111118,Alumno 8,TI11,10.0,1.0,7.0,10.0,0.0,regular,5.6

In [57]:
calificaciones_v2_finales = todos.to_csv("calificaciones_v2_finales.csv")